{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1>Welcome, {{ user.username }}!</h1>
<p>Manage your email marketing campaigns below.</p>
<div class="list-group mt-4">
  <a href="{% url 'audience_list' %}" class="list-group-item list-group-item-action">Audiences</a>
  <a href="{% url 'subscriber_list' %}" class="list-group-item list-group-item-action">Subscribers</a>
  <a href="{% url 'emailtemplate_list' %}" class="list-group-item list-group-item-action">Email Templates</a>
  <a href="{% url 'campaign_list' %}" class="list-group-item list-group-item-action">Campaigns</a>
  <a href="{% url 'emaillog_list' %}" class="list-group-item list-group-item-action">Email Logs</a>
</div>
{% endblock %}
